.item {
  position: relative;
  width: 80%;
  &:hover {
    color: blue;
    border-bottom: 1px solid black;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}