.item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    color: blue;
  }
  .input {
    border: none;
    &:hover {
      border: 1px solid black;
    }
  }
  .btn_wrap {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}